<mat-toolbar class="top-bar">
  <div class="menu-group">
    <button (click)="onClick()" mat-icon-button class="menu" aria-label="Example icon-button with menu icon">
      <mat-icon >menu</mat-icon>
    </button>
    <span>ACCOUNT MANAGER</span>
  </div>
  <div class="profile-group">
    <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" id="notification" aria-label="Example icon-button with heart icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" id="profile" aria-label="Example icon-button with share icon">
    <mat-icon >person</mat-icon>
  </button>
  </div>

</mat-toolbar>

