.remove-transaction{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0A1840;
    font-weight: 500;
  }
  .main{
    p{
      font-size: 14px;
      font-weight: 500;
    }
  }
  .footer{
    display: flex;
    justify-content: end;
    gap: 10px;
  }
}
