<div class="main-group">
  <section class="page-initial">
    <div class="header-group">
      <p>Lançamentos</p>
      <div class="add-mounth">
        <button (click)="openDialog()">
          <mat-icon>add</mat-icon>
          <p>Novo lançamento</p>
        </button>
      </div>
    </div>

    <div class="table-group" *ngIf="pagination.items">
      <div class="mat-elevation-z8" *ngFor="let month of pagination.items">
        <div class="example-table-container" >
          <mat-accordion >
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              class="account-group"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p>MÊS DE {{month.month.toUpperCase()}}</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <button (click)="openCreateColumn(month)" class="add-column">Adicionar Coluna</button>
              <table
                mat-table
                [dataSource]="pagination.items"
                class="example-table"
                matSort
                matSortActive="created"
                matSortDisableClear
                matSortDirection="desc"
              >
                <!-- Number Column -->
                <ng-container matColumnDef="data">
                  <th mat-header-cell *matHeaderCellDef>Data</th>
                  <td mat-cell *matCellDef="let row">{{ row.data }}</td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Categoria</th>
                  <td mat-cell *matCellDef="let row">{{ row.category }}</td>
                </ng-container>

                <!-- Created Column -->
                <ng-container matColumnDef="value">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                  >
                    Valor
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.value }}</td>
                </ng-container>

                <ng-container matColumnDef="month">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                  >
                    Mês
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.month }}</td>
                </ng-container>

                <ng-container matColumnDef="pay">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                  >
                    Pago?
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.pay }}</td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                  >
                    Editar
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon (click)="openEdit(row)">edit</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    disableClear
                  >
                    Excluir
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-icon  >delete</mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </section>
</div>
