.main-group {
  height: calc(100vh - 175px);
  .page-initial {
    .header-group {
      padding: 20px 10px;
      border-bottom: 1px solid #e6e9ec;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      p {
        font-size: 16px;
        color: #989b9d;
        font-weight: 500;
      }
      .add-mounth {
        button {
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 5px;
          padding: 10px;
          gap: 10px;
          border: 1px solid #989b9d;
          background-color:rgb(0, 162, 255 );
          p {
            color: white;
            font-weight: 400;
          }
          mat-icon {
            color: white;
            font-size: 18px;
          }
          &:hover {
            background-color: rgb(0, 89, 255);
            transition: 0.5s;
          }
        }
      }
    }

    .not-found-account{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10rem;
      gap: 10px;
      flex-direction: column;
      p{
        font-size: 18px;
        text-align: center;
      }

      mat-icon{
        font-size: 5rem;
      }
    }
  }
  .table-group {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    padding: 15px;
    height: 100%;
    background-color: #FAFAFA;
    .add-column{
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #e6e9ec;
      color: white;
      background-color: rgb(5, 183, 228);
      cursor: pointer;
      &:hover{
        background-color:rgb(11, 80, 230) ;
        transition: 0.5s;
      }
      mat-icon{
        font-size: 18px;
      }
    }

    .add-primary-transaction{
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #e6e9ec;
      color: white;
      background-color: rgb(5, 183, 228);
      max-width: 150px;
      cursor: pointer;
      &:hover{
        background-color:rgb(11, 80, 230) ;
        transition: 0.5s;
      }
      mat-icon{
        font-size: 18px;
      }
    }

    .not-transaction{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      p{
        color: #0A1840;
        font-weight: 500;
      }
    }

    table{
      #money{
        color: red;
      }
    }
  }
}
::ng-deep {
  .main-group .mat-elevation-z8,
  .mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: none;
  }
  .main-group .mat-expansion-panel-body{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 14px 16px !important;
  }
  .main-group .mat-expansion-panel-header-description{
    flex-grow: 2;
  }

  .main-group .mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
    justify-content: space-between;
  }
}
