.confirm{
  background-color: #2962FF;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.cancel {
  background-color: transparent;
  color: #2962FF;
  border: none;
  padding: 10px;
  cursor: pointer;
}
