<div>
  <form
    action=""
    [formGroup]="column"
    (ngSubmit)="onSubmit()"
    style="display: flex; flex-direction: column; padding: 15px; gap: 15px"
  >
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput type="text" formControlName="data" />
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Categoria</mat-label>
      <input matInput type="text" formControlName="category" />
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Valor</mat-label>
      <input
        matInput
        type="number"
        min="0.00"
        max="10000.00"
        step="0.01"
        formControlName="value"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Pago?</mat-label>
      <mat-select formControlName="pay">
        <mat-option *ngFor="let pay of payOptions" [value]="pay">{{
          pay
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Mês do vencimento</mat-label>
      <input
        type="text"
        matInput
        formControlName="month"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let month of filtredMonths | async" [value]="month">
          {{ month }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <app-button
        textContent="Criar Transação"
        class="confirm"
        type="submit"
      ></app-button>
    </div>
  </form>
</div>
