<div>
  <form
    action=""
    [formGroup]="column"
    (ngSubmit)="onSubmit()"
    style="display: flex; flex-direction: column; padding: 15px; gap: 15px"
  >
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput type="text" formControlName="data" />
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Categoria</mat-label>
      <input matInput type="text" formControlName="category" />
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput type="text" formControlName="value" />
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Pago?</mat-label>
      <input matInput type="text" formControlName="pay" />
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Mês</mat-label>
      <input matInput type="text" formControlName="month" />
    </mat-form-field>
    <div>
      <button type="submit">Criar</button>
    </div>
  </form>
</div>
