<div class="add-mounth">
  <div class="header">Crie um novo lançamento</div>
  <form class="input-group" [formGroup]="accounts" (ngSubmit)="submit()">
    <!-- <mat-form-field appearance="fill" class="example-form-field" appearance="outline">
      <mat-label>Escolha uma Data</mat-label>
      <input matInput [matDatepicker]="datepicker">
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Categoria</mat-label>
      <input matInput type="text" >
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput type="text" >
    </mat-form-field>

    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" >
    </mat-form-field> -->
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Mês</mat-label>
      <input matInput type="text" formControlName="month" />
    </mat-form-field>
    <div>
      <button type="submit">Criar</button>
    </div>
  </form>
</div>
