<div class="add-mounth">
  <div class="header">
    <p>Crie um novo lançamento</p>
    <div>
      <mat-icon>add</mat-icon>
    </div>
  </div>
  <form class="input-group" [formGroup]="accounts" (ngSubmit)="submit()">
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Mês</mat-label>
      <input matInput type="text" formControlName="month" />
    </mat-form-field>
    <div>
      <app-button
        class="confirm"
        textContent="Criar"
        type="submit"
      ></app-button>
    </div>
  </form>
</div>
